body {
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

/* Top Navigation Bar */

header {
	margin: 22px 20px 0 25px;
	font-size: 13px;
}

header a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.gray {
	opacity: 0.75;
}

.left {
	float: left;
}

.right {
	float: right;
}

#apps {
	width: 30px;
	height: 30px;
	background-image: url('sprite.png');
	background-position: -132px -38px;
	background-size: 528px 68px;
	opacity: 0.55;
}

#apps:hover {
	opacity: 1;
}

#notifications {
	width: 20px;
	height: 20px;
	background-image: url('sprite.png');
	background-color: #000;
	opacity: 0.55;
	background-position: -194px -21px;
	background-size: 528px 68px;
	border-radius: 50%;
}

#notifications:hover {
	opacity: 1;
}

#user {
	width: 32px;
	height: 32px;
	background-image: url('photo.jpg');
	border-radius: 50%;
}